<div class="home">
    <section class="firstscreen">
        <div class="welcome">

            <h4>Welcome to MarvelApp</h4>
        </div>
        <div class="options">
            <ul>
                <li>Search information about your favorites Marvel characters!</li>
                <li>Find bookstores around you!</li>
            </ul>
        </div>
        <div class="button">
            <a href="/search" class="button1">Search</a>
            <a href="/librariesmap" class="button1">Find bookstores</a>
        </div>
    </section>
    <section class="secondscreen">
        <div class="welcome">
            <h4>Discover people and much more!</h4>
        </div>
        <div class="options">
            <ul>
                <li>Find people who likes same characters as you!</li>
                <li>Try our recomendation form to discover new comics to read!</li>
            </ul>
        </div>
        <div class="button">
            <a href="/socialmap" class="button1">Social</a>
            <a href="/recommend" class="button1">Recommendations</a>
        </div>
    </section>
</div>

