<figure class="headerimg">
    <h1>Nearby Libraries</h1>
</figure>

<figure id="librariesmap"></figure>



<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/librariesmap.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVMurTF7q2Y_BtyZgyI6GQ0BDfp_M6gss&libraries=places"></script>