<h1>Liberias cercanas</h1>

<figure id="myMap"></figure>



<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/librariesmap.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVMurTF7q2Y_BtyZgyI6GQ0BDfp_M6gss&libraries=places"></script>