<div class="container-fluid" id="charts">

    <main>
        <div class="chart-header">
            <h1>Characters Data</h1>
            <p>Search information about your favorites Marvel characters!</p>
        </div>
        <input id="theInput" class="form-control" type="text" placeholder="Search your favorite character">
        <div class="chart-button">
            <a id="theButton" type="button" class="button1">Run </a>

            <a id="theButton2" type="button" class="button1">Run</a>
        </div>
        <div class="row">

            <div class="col-6">

                <section class="cols-2">
                    <figure>
                        <p>Check in how many resourses your character appears.</p>
                        <h3>Characters</h3>
                        <canvas id="chart1"></canvas>
                    </figure>
            </div>
            <div class="col-6">
                <figure>
                    <p>Check the key dates for this comic in which your character is present</p>
                    <h3>Comics Over Time</h3>
                    <canvas id="chart2"></canvas>
                </figure>
            </div>
            </section>
        </div>
        <div class="row">
            <div class="col-6">


            </div>
            <div class="col-6">

            </div>
            </section>
        </div>
    </main>


</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script type="text/javascript" src="../../javascripts/api.js"></script>
<script type="text/javascript" src="../../javascripts/charts.js"></script>
<script type="text/javascript" src="../../javascripts/chartStyles.js"></script>