<main>
    <h1>My comic charts</h1>



    <h2 class="loading">Esperando respuesta de la API...</h2>
    <section class="chartSection">
        <figure>
            <p>Chart 1</p>
            <h3>Characters</h3>
            <canvas id="chart1"></canvas>
        </figure>

        <figure>
            <p>Chart 2</p>
            <h3>Main characters</h3>
            <canvas id="chart2"></canvas>
        </figure>
    </section>

</main>
<input id="theInput" class="form-control" type="text" placeholder="Search your favorite character">

<button id="theButton" type="button" class="btn btn-secondary">Characters</button>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script type="text/javascript" src="../../javascripts/api.js"></script>
<script type="text/javascript" src="../../javascripts/charts.js"></script>
<script type="text/javascript" src="../../javascripts/chartStyles.js"></script>