<figure class="headerimg">
    <h1>Welcome to MarvelApp</h1>
</figure>

<div class="container" id="confirmation">

    <h3>Welcome {{updateStatus.username}} , your account has been validated.</h3>
    <h4> Your current status is "{{updateStatus.status}}"</h4>


    <div class="">
        <h3>Go to profile? </h3>
        <a href="/profile" class="btn btn-danger" role="button" aria-pressed="true"> Account Info </a>
    </div>

</div>