<div class="hero_my_comics">

</div>
<div class="container">
    <div id="comics_title">
        <h1>My Comics</h1>
    </div>
    <div class="button">
        <a href="something" id="user-Character" class="button1">Save</a>
    </div>


    <section>
        <div class="btn-group" id="buttons_comics" role="group" aria-label="Basic example">
            <button id="theButton" type="button" class="btn btn-secondary">Characters</button>
            <button id="theButton-comics" type="button" class="btn btn-secondary">Comics</button>
            <button id="theButton-series" type="button" class="btn btn-secondary">Series</button>
        </div>
    </section>
    <section>
        <div class="textInput">
            <div>
                <input id="theInput-character" class="form-control" type="text"
                    placeholder="Search your favorite character">
            </div>
            <div>
                <input id="theInput-comics" class="form-control" type="text" placeholder="Search your favorite comic">
            </div>
            <div>
                <input id="theInput-series" class="form-control" type="text" placeholder="Search your favorite serie">
            </div>
        </div>
    </section>

</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://kraaden.github.io/autocomplete/autocomplete.js"></script>
<script type="text/javascript" src="../../javascripts/api.js"></script>
<script type="text/javascript" src="../../javascripts/apiQuery.myComics.js"></script>