<div class="container">

    <h1> Recommended for You </h1>

    <section>
        <div class="row">
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="char-img0" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="char-name0">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="char-img1" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="char-name1">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="char-img2" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="char-name2">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="char-img3" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <button id="theButton_smartList" type="button" class="btn btn-dark">Save</button>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script type="text/javascript" src="../../javascripts/api.js"></script>
<script type="text/javascript" src="../../javascripts/smartLists.js"></script>