<div class="container-fluid">


    <div class="hero_recommmedations">
        <div>
            <h1> Recommended for You </h1>
        </div>
        <div>
            <button id="theButton_smartList" type="button" class="btn btn-dark">I want to see</button>
        </div>
        {{!-- <div>
            <a href="/profile" id="" class="button1">Back</a>
            <a href="/" id="" class="button2">Go Home</a>
        </div> --}}
    </div>
    <section class"comics_recommedations">
        <hr>
        <h3> Comics </h3>
        <hr>
        <div class="row">
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="co-img0" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="co-name0">Card title</h5>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="co-img1" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="co-name1">Card title</h5>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="co-img2" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="co-name2">Card title</h5>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="co-img3" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="co-name3">Card title</h5>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class"characters_recommedations">
        <hr>
        <h3> Characters </h3>
        <hr>
        <div class="row">
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="char-img0" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="char-name0">Card title</h5>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="char-img1" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="char-name1">Card title</h5>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="char-img2" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="char-name2">Card title</h5>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="char-img3" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="char-name3">Card title</h5>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script type="text/javascript" src="../../javascripts/api.js"></script>
<script type="text/javascript" src="../../javascripts/smartLists.js"></script>