body {
  font-weight: 200;
  font-family: sans-serif;
}

h1{
  font-weight: 900;
}

h2,
h3 {
  font-weight: 200;
}

.navbar {
  margin-bottom: 10px;
}
.home {
  margin: 0;
  padding: 0;
}

#errorMsg {
  background-color: red;
  color: white;
  font-weight: 400;
  text-align: center;
  padding: 10px 0;
  margin-top: 5px;
}

.firstscreen {
  background-color: black;
  color: white;
  height: 100vh;
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 50px;
}

.secondscreen {
  background-color: black;
  color: white;
  height: 100vh;
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 50px;
}

.navbar-brand img {
  width: 60px;
  height: auto;
}

a.button1 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid white;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
  text-align: center;
  transition: all 0.2s;
}
a.button2 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid black;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
}

a.button1:hover {
  color: white;
  background-color: red;
}
a.button2:hover {
  color: white;
  background-color: red;
}
.card img{
  object-fit: contain;

  width: 100%;
}

// PROFILE

.hero_my_comics{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#comics_title{
  display: flex;
  color:  red;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

#buttons_comics{
  height: 50px;
  width: 60px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.textInput{
  letter-spacing: 2px;
  font-size: 20px;
  margin-bottom: 50px;
}input{
  margin-bottom: 10px;
  background: white;
}

.autocomplete > div:hover:not(.group),
.autocomplete > div.selected {
    background: #8080807a;
    cursor: pointer;
}


#user-Character{
  width: 200px;
  font-weight: 500;

}

#picture-profile{
  width: 100px;
  height: 100px;
}

#profile-container{
  margin-top: 50px;
}

#safeButton{
  height: 50px;
  width: 160px;
  margin-top: 30px;
  margin-bottom: 50px;
  display: block;
  margin: auto ;
}

